
.jumbotron{
    border-bottom: solid; 
    border-color: red;
}
.card-title{
    text-align: center;
      margin: 15px;
      padding-bottom: 14px;
      font-weight: bold;
      border-bottom: solid;
  }
  input.invalid{
    border-color: red;
  }
  textarea.invalid{
    border-color: red;
  }
